@model StudentRepositoryDemo.Models.Student

<h2>Add Student</h2>

<form method="post">
    Name: <input asp-for="Name" /><br />
    Email: <input asp-for="Email" /><br />
    Course: <input asp-for="Course" /><br />
    <button type="submit">Save</button>
</form>